
div {
  padding: 15px;
  margin-top: 300px;
  background-color: #f95c86;
  font: normal normal normal 18px Segoe UI;
  color: #ffffff;
  display: flex;
}
a {
  font: normal normal normal 18px Segoe UI;
  color: #ffffff;
  display: inline;
}
p {
  display: inline;
}
img {
  margin-left:auto;
  height: 20px;
}
