.bad{
  color:darkred;
  font-weight: bold;
}
h2 {
  font: normal normal normal 28px Segoe UI;
  color: #047a92;
}

input{
  width: 100%;
}

button{
  top: 25px;
  right: 20px;
  width: 79px;
  height: 36px;
  background: #f95c86;
  border-radius: 18px;
  border: 0.5px solid;
  border-color: #f95c86;
  text-align: center;
  font: normal normal normal 14px Segoe UI;
  color: #ffffff;
  margin: auto;
  display: inline;
}

.flexi{
  font: normal normal normal 16px Segoe UI;
  color: #000000;
  display: flex;
  justify-content: flex-start;
  margin: auto;
}

small{
  left: auto;
}
.mat-dialog-content {
  width: 500px;
  height: 750px;

}
