table {
  margin: 15px 20px 20px 15px;
  width: 100%;
  font: normal normal normal 18px Segoe UI;
  margin: auto;
  margin-bottom: 520px;
}
th {
  background-color: rgb(212, 205, 205);
}

button {
  color: #000000;
  border-radius: 30px;
  padding-left: 10px;
  width:120px;

}
.ac {
  font: normal normal normal 16px Segoe UI;
  color: white;
  background: #f95c86;
  border-radius: 30px;
  border: 0.5px solid;
  border-color: #f95c86;
  padding:10px;
  margin: auto;
  width:160px

}

h1 {
  font: normal normal normal 40px Segoe UI;
  color: #000000;
  text-align: left;
  margin-bottom: 40px;


}
div {
  text-align: center;
}
.add {
  font: normal normal normal 16px Segoe UI;
  margin-left: 1000px;
}
div{
  margin-left:30px;
}
