table{
  margin: 15px 20px 20px 15px;
   }
  table, th,td{
  border: 3px solid rgb(56, 55, 55);
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  margin: auto;
  }
  tr:nth-child(even){
  background-color: rgb(248, 240, 195);
  }
  tr:nth-child(odd){
  background-color: rgb(248, 240, 195);
  }
  tr:first-child{
  background-color: silver;
  }
  div{
  height: 80%;
  overflow: auto;
  }
button{
  background-color:rgb(96, 99, 99);
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: bold;

}


h1{
  font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  font-weight: bolder;
}
