
<div>
  <br>
  <br>

  <h1>Company</h1>
  <p>Welcome {{name}}</p>

  <ng-container *ngIf="coupons  && coupons.length>0; else elseTemplate">
    <div class="add">
      <button class="ac"(click)="openCouponAddDialog()">➕ Add Coupon </button>
      <br>
      <br>
      <br>
</div>
    <table>
      <tr>
        <th>CouponID</th>
        <th>CompanyID</th>
        <th>Category</th>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Image</th>




      </tr>

      <tr *ngFor="let coupon of coupons">
        <td>{{coupon.id}}</td>
        <td>{{coupon.companyID}}</td>
        <td>{{coupon.category}}</td>
        <td>{{coupon.title}}</td>
        <td>{{coupon.description}}</td>
        <td>{{coupon.startDate | date: 'MM/dd/yyyy'}}</td>
        <td>{{coupon.endDate | date: 'MM/dd/yyyy'}}</td>
        <td>{{coupon.amount}}</td>
        <td>{{coupon.price}}</td>
        <td><img src={{coupon.image}}></td>

        <td>
          <button (click)="deleteCoupon(coupon)"> 🗑️ Delete </button>
          <button (click)="openCouponUpdateDialog(coupon)"> 🖋 Edit </button>

        </td>


      </tr>
    </table>

  </ng-container>
  <ng-template #elseTemplate>
  </ng-template>
</div>
