button {
  top: 25px;
  right: 20px;
  width: 100px;
  height: 36px;
  background: #f95c86;
  border-radius: 18px;
  border: 0.5px solid;
  border-color: #f95c86;
  text-align: center;
  font: normal normal normal 14px Segoe UI;
  color: #ffffff;
  margin: auto;
  display: inline;
}
table {
  margin: 15px 20px 20px 15px;
  width: 100%;
  font: normal normal normal 15px Segoe UI;
  margin: auto;
  width: 1000px;
  height: 600px;
}
th {
  padding: 5px;
  background-color: rgb(212, 205, 205);
}
img{
  width: 80px;
  height: 80px;
}

.gray{
  background-color: gray;
  color: rgb(29, 27, 27);
  border-radius: 18px;
  border: 0.5px solid;
  font: normal normal normal 14px Segoe UI;
  margin: auto;
  width:100px;
}
::ng-deep .cdk-overlay-pane {
  height: 100%;
}
